
.project-card img { 

  width: 250px;
  height: 50px;          
  object-fit: cover;       
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
